<title><%= @tale.title %></title>

<%= link_to '<< Back', tales_path, method: :get %>

<br>

<div>

  <h2><%= @tale.title %></h2>

  <p>(TODO: First page)</p>

  <p>
    <i><%= notice %></i>
  </p>
</div>
